* {
   margin: 0; 
   padding: 0;

}

.banner {
    width: auto;
    height: auto;
    background-image: url(/mysite/src-img/banner.jpg);
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: 100%;

}
.banner{
    color: white;
    display: flex;
    justify-content: center;
    font-family: "sofia";
}

.shadow {
    width: 200px;
    height: 100px;
    margin: 20px;
    border: 1px solid white;
    box-shadow: 10px 4px 10px 3px #888;
    
}
